*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
picture {
  max-width: 100%;
  display: block;
}

body{
      display: flex;
      height: 100vh;
      max-height: 100vh;
      font-family: 'Josefin Sans', sans-serif;
}

.sidebar-container{
      background-image: url(Great\ Watamelon\ Off\ Kanagawa.jpg);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      /* flex-direction: column; */
      flex-basis: 35%;

}


.logo-h1{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(40, 37, 39, 0.8);
      color: #eeee;
      gap: .8rem;
      padding: .7rem;
      width: 100%;
      margin-top: 20vh;

}

.sidebar-container img{
      width: 150px;
      border-radius: 50%;
}


.form-container{
      background-color: #eeee;
      flex-basis: 65%;
      display: flex;
      flex-direction: column;
}

.form-container > div:nth-child(1){

      gap: 1rem;
      background-color: aqua;
      flex-basis: 30%;
}
.form-container > form {

      flex-basis: 45%;
}
.form-container > div:nth-child(3){


      background-color: green;
      flex-basis: 25%;
}
div > p:first-child{
      margin-top: 40px;
}
p{
      padding:2rem 1rem;
}

label{
      display: block;
      font-weight: 400;
      font-size: 14px;
}

input[type="text"],input[type="email"],input[type="number"],
input[type="password"]{
      appearance: none;
      padding: .4rem 0;
      width: 20vw;
      display: inline-block;
      margin: .5rem 0;
      border-radius: 5px;
      font-family: 'Fira Code', monospace;
      border: 1px solid gray;
      position: relative;
}



input:valid{
      border: 1px solid green;
}
input:hover{
      border: none;
      outline:1px solid blue;
}
input:focus{
      outline: 1px solid blue;
      border: none;
}
input:invalid{
      border: 1px solid red;
}
input:focus:invalid{
      outline: 1px solid red;
      border: none;
}
input:hover:invalid{
      border: none;

      outline: red 1px solid;
}

input + span {
      position: relative;
    }


    input + span::before {
      position: absolute;
      right: -20px;
      top: 0;
    }
    input:invalid + span::before {
      content: "✖";
      color: red;

    }

    input:valid + span::before {
      content: "✓";
      color: green;
    }







fieldset{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: none;
      box-shadow: 10px 7px 30px -4px rgba(0,0,0,0.76);
      height: 100%;
      padding-left: 2rem;
      padding-top: 1.5rem;
}
.flex{
      display: flex;
      gap: 2rem;
}
.form-container{
      position: relative;
}
button[type="submit"]{
      padding: .5rem 2rem;
      font-size: large;
      font-weight: 600;
      color: white;
      background-color: #596D48;
      border: none;
      border-radius: 10px;
      position: absolute;
      bottom: 180px;
      left: 30px;
}
